{% extends 'base.html' %}
{% load static %}
{% block content %}
    <div id="mainn" class="b_main">
        <div class="b_first">
        <div class="b_left">
            <h1>VASC<br>BLOGS!<br> <hr></h1>
           
            <h3>What's Your Intrest ?</h3>
                <input type="submit" value="Explore" class="b_leftbtn">

        </div>
        <div class="b_right">
            <img src="https://pict.acm.org/assets/images/homeSVG.svg">
        </div>
    </div>
    <div class="b_second">

        <div class="b_card">
            <img src="https://firebasestorage.googleapis.com/v0/b/pasc-blogs.appspot.com/o/posts%2Fdemo-detail.jpeg?alt=media&token=3ff60e63-8eef-4b67-bee5-089b0b7e83da" alt="Avatar" style="width:100%">
            <div class="container">
                <h4><b>Practices to be a better software developer</b></h4>
                <p>-Prarthik ratadiya</p>
                <p>May 32020</p>
            </div>
          </div>
          <div class="b_card">
            <img src="https://firebasestorage.googleapis.com/v0/b/pasc-blogs.appspot.com/o/posts%2Fdemo-detail.jpeg?alt=media&token=3ff60e63-8eef-4b67-bee5-089b0b7e83da" alt="Avatar" style="width:100%">
            <div class="container">
              <h4><b>Practices to be a better software developer</b></h4>
              <p>-Prarthik ratadiya</p>
              <p>May 32020</p>

            </div>
          </div>

            </div>
    </div>
{%endblock%}