{% extends 'base.html' %}
{% load static %}
{% block content %}
<div id="mainn" class="eventmain">
    <div class="eventhead">
        <h1>Events</h1>
    </div>
    <div class="eventup">
    </div>
    <div class="eventpast">
        <div class="eventpasttable" style="margin-bottom: 25px; height: fit-content;">
            <table style="overflow: auto;border: 1px solid #f4f4f4;">
                <thead>
                    <th>Date</th>
                    <th>Event</th>
                    <th>Attendees</th>
                </thead>
                {% for i in pevents %}
                <tr>
                    <td>{{i.date}}</td>
                    <td>{{i.event}}</td>
                    <td>{{i.attendees}}</td>
                    
                </tr>
                {% endfor %}
            </table>
        </div>
    </div>
</div>
{%endblock%}