{% extends 'base.html' %}
{% load static %}
{% block content %}
<div id="mainn" class="eventmain">
    <div class="eventhead">
        <h1>Events</h1>
    </div>
    <div class="eventup">
        <div class="eventuphead">
            <h2>Upcomming Events</h2>
        </div>
        <div class="eventupcards">
            {% for j in uevents %}
            <div class="eventupcard">
                <h3>{{j.title}}</h3>
                <p class="date">{{j.date}}</p>
                <p>{{j.desc}}</p>
                <p>{{j.link}}</p>
            </div>
            {%endfor%}
        </div>
    </div>
    <div class="eventpast">
        <div class="eventpasthead">
            <h2>Past Events</h2>
        </div>
        <div class="eventpasttable">
            <table>
                <thead>
                    <th>Date</th>
                    <th>Event</th>
                    <th>Attendees</th>
                    <th>Details</th>
                    <th>Speaker</th>
                </thead>
                {% for i in pevents %}
                <tr>
                    <td>{{i.date}}</td>
                    <td>{{i.event}}</td>
                    <td>{{i.attendees}}</td>
                    <td>{{i.details}}</td>
                    <td>{{i.speaker}}</td>
                </tr>
                {% endfor %}
            </table>
        </div>
    </div>
</div>
{%endblock%}