{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="oo" id="mainn">
<div class="ourteam">
    <div class="ourteamhead">
        <h1>Our Team</h1>
    </div>
    <div class="ourteamrow">
        <!-- <div class="ourteamcard">
            <img src="{%static 'images/hod.jpg'%}">
            <a href="https://www.linkedin.com/in/dr-rajanikanth-aluvala-26928014/"><i class="fa fa-linkedin"></a></i>
            <h3>Dr Rajanikanth Aluvalu</h3>
            <p>Faculty Sponsor</p>
        </div> -->
        <div class="ourteamcard">
            <img src="{%static 'images/avatar.png'%}">
            <a href="https://www.linkedin.com/in/g-s-prasad-reddy-820609a2/"><i class="fa fa-linkedin"></a></i>
            <h3>Mr G S Prasada Reddy</h3>
            <p>Membership Coordinator</p>
        </div>
    </div>
    <div class="ourteamrow">
        <div class="ourteamcard">
            <img src="{%static 'images/anil.jpeg'%}">
            <a href="https://www.linkedin.com/in/anil-rohit-578555170/"><i class="fa fa-linkedin"></a></i>
            <h3>Anil Rohit</h3>
            <p>Chair</p>
        </div>
        <div class="ourteamcard">
            <img src="{%static 'images/viggu.jpg'%}">
            <a href="https://www.linkedin.com/in/dugyala-vignesh-kumar-875363191/"><i class="fa fa-linkedin"></a></i>
            <h3>Dugyala Vignesh</h3>
            <p>Secretary</p>
        </div>
        <div class="ourteamcard">
            <img src="{%static 'images/pavan.jpeg'%}">
            <a href=""><i class="fa fa-linkedin"></a></i>
            <h3>Pavan Chebelli</h3>
            <p>Vice Chair</p>            
        </div>
    </div>
    <div class="ourteamrow">
        <div class="ourteamcard">
            <img src="{%static 'images/ndp.jpg'%}">
            <a href="https://www.linkedin.com/in/nagadeep-sharma-968a8616a/"><i class="fa fa-linkedin"></a></i>
            <h3>Ch.Nagadeep</h3>
            <p>Web Master</p>
        </div>
        <div class="ourteamcard">
            <img src="{%static 'images/vaidhik.jpg'%}">
            <a href="https://www.linkedin.com/in/vaidhik-raj-2a567219a/"><i class="fa fa-linkedin"></a></i>
            <h3>Vaidhik Raj</h3>
            <p>Web Master</p>
        </div>
        <div class="ourteamcard">
            <img src="{%static 'images/mounika.jpeg'%}">
            <a href="https://www.linkedin.com/in/monika-chandra-80416819a/"><i class="fa fa-linkedin"></a></i>
            <h3>Monika</h3>
            <p>Web Master</p>
        </div>
    </div>
    <div class="ourteamrow">
        <div class="ourteamcard">
            <img src="{%static 'images/dixith.jpeg'%}">
            <a href="www.linkedin.com/in/sai-dixith-chetelli-633a8616a"><i class="fa fa-linkedin"></a></i>
            <h3>Sai Dixith Chetelli</h3>
            <p>Treasurer</p>
        </div>
    </div>
</div>
</div>
{%endblock%}