
.gallery{
    width: 100%;
    height: fit-content;
    display: flex;
    justify-content: center;
    overflow: auto;
}
.gallerymain{
    height: fit-content;
    width: 80%;
    display: flex;
    flex-wrap:wrap;
    justify-content: space-evenly;
}
.gcard{
    margin-top: 15vh;
    height: 20%;
    width: 30%;
    padding:5px;
}
.gcard img{
    width: 100%;
    height: 100%;
}